<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:replace="main :: page">


<head th:fragment="header" th:remove="tag">
<script th:src="@{/js/htroot.js}"></script>
<script src="../js/plugins/dataTables/jquery.dataTables.js"
	th:src="@{/js/plugins/dataTables/jquery.dataTables.js}"></script>
<script src="../js/plugins/dataTables/dataTables.bootstrap.js"
	th:src="@{/js/plugins/dataTables/dataTables.bootstrap.js}"></script>

</head>
<head>
<title>Dashboard</title>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="/images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />

<link href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<link href="../css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"
	rel="stylesheet" />

<link href="../css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"
	rel="stylesheet" />

<link href="../font-awesome-4.2.0/css/font-awesome.min.css"
	th:href="@{/font-awesome-4.2.0/css/font-awesome.min.css}"
	rel="stylesheet" />

<link href="../css/htroot.css" th:href="@{/css/htroot.css}"
	rel="stylesheet" />

<link href="../css/dataTables.tableTools.css"
	th:href="@{/css/dataTables.tableTools.css}" rel="stylesheet" />

<link href="../css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"
	rel="stylesheet" />

<link href="../css/plugins/dataTables.bootstrap.css"
	th:href="@{/css/plugins/dataTables.bootstrap.css}" rel="stylesheet" />



<script src="../js/jquery-1.11.0.js" th:src="@{/js/jquery-1.11.0.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../js/plugins/metisMenu/metisMenu.min.js"
	th:src="@{/js/plugins/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
<script src="../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>

<!-- DataTables JavaScript -->
<script src="../js/plugins/dataTables/jquery.dataTables.js"
	th:src="@{/js/plugins/dataTables/jquery.dataTables.js}"></script>
<script src="../js/plugins/dataTables/dataTables.bootstrap.js"
	th:src="@{/js/plugins/dataTables/dataTables.bootstrap.js}"></script>
<script src="../js/htroot.js" th:src="@{/js/htroot.js}"></script>
<script src="../js/dataTables.tableTools.js"
	th:src="@{/js/dataTables.tableTools.js}"></script>



</head>
<th:block th:include="~{this :: extra} ?: ~{}" th:remove="tag"></th:block>
<body>
	<div th:fragment="content">
		<section class="content-header">
			<h1>Dashboard</h1>
		</section>
		<section class="content">
			
		</section>
	</div>
</body>

</html>
