<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Formulario::Botones</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../../css/AdminLTE.min.css" />

<link href="../../css/font-awesome.min.css" rel="stylesheet" />

<link rel="stylesheet" href="../../css/skins/_all-skins.min.css" />
<link href="../../css/ionicons.css" rel="stylesheet" />
</head>
<body>
	<div th:fragment="content">
		<div class="panel-body">
			<p>

				<button type="button" class="btn btn-default"
					th:id="${formId + 'createBtn'}"
					th:if="${controller.userCanInsert()}"
					th:onclick="'htroot.onCreateButtonClicked(\'' + ${formId} + '\')'"
					name="createButton">

					<i class="ion ion-plus-round"></i> <span
						th:text="#{form.boton.crear}">Nuevo</span>
				</button>

				<button type="button" class="btn btn-default"
					th:id="${formId + 'saveBtn'}"
					th:if="${controller.userCanInsert() or controller.userCanUpdate()}"
					th:onclick="'htroot.onSaveButtonClicked(\''+ ${formId}+'\')'"
					name="saveButton">
					<i class="fa fa-save"></i> <span th:text="#{form.boton.guardar}">Guardar</span>
				</button>

				<button type="button" class="btn btn-default"
					th:id="${formId + 'deleteBtn'}"
					th:if="${controller.userCanDelete()}" data-toggle="modal"
					name="deleteButton">
					<i class="ion ion-trash-a"></i><span th:text="#{form.boton.borrar}">Borrar</span>
				</button>
				<th:block th:replace="~{this :: extra_buttons} ?: ~{}" th:remove="tag"></th:block>
			</p>

		</div>


		<div
			th:include="/fragments/popup :: content(id=${formId+'_popupBorrado'}, title=#{popup.borrado.titulo}, msg=#{popup.borrado.mensaje}, cancelText=#{popup.borrado.cancelar}, acceptText=#{popup.borrado.aceptar}, onclick='htroot.deleteRecord(\'' + ${formId} + '\')')">PopUp</div>

		<script type="text/javascript">

		
        $(document).ready(function() {
            var formId = '[[${formId}]]';
            var onlyForm =  "[[${onlyForm}]]";
            
            if (onlyForm == "yes") {
                $('#' + formId + 'createBtn').hide();
                $('#' + formId + 'deleteBtn').hide();
            } else {
            	$('#' + formId + 'deleteBtn').on( "click", function() {
        	        $('#' + formId +  '_popupBorrado').modal('show');
        		    $("#popupCancelBtn").focus();	 
                });
            }
            
/*
            var shortcuts = {"createButton":"f2", "saveButton":"f4", "deleteButton":"f9"};
        	$.each(shortcuts, function(button, key) {
            	var $button = $("[name='"+button+"']"); 
                $(document).bind('keydown', key, function(){
                	if($button.is(":visible")) { 
                	    $button.click();
                	}    	
                });
    		});*/
    		
        });
                </script>
	</div>
</body>
</html>
