<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Formulario::Botones</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../css/AdminLTE.min.css" />
  
     <link href="../../css/font-awesome.min.css" rel="stylesheet" />
     
    <link rel="stylesheet" href="../../css/skins/_all-skins.min.css"/>
    <link href="../../css/ionicons.css" rel="stylesheet" />
</head>
<body>
	<div th:fragment="content">
		<div class="panel-body">
			<p>

				<button type="submit" class="btn btn-default" name="operation"
					value="create" id="newRecordButton" style="visibility: hidden">
				</button>

				<button type="submit" class="btn btn-default" name="operation"
					value="create" th:unless="${vc.createButtonEnabled==false}" >

					<i class="ion ion-plus-round"></i> <span
						th:text="#{form.boton.crear}">Nuevo</span>
				</button>

				<button type="submit" class="btn btn-default" name="operation"
					value="save" th:unless="${vc.saveButtonEnabled==false}">
					<i class="fa fa-save"></i> <span th:text="#{form.boton.guardar}">Guardar</span>
				</button>

				<button type="submit" class="btn btn-default" name="operation"
					value="cancel" th:unless="${vc.cancelButtonEnabled==false}">
					<i class="ion ion-ios-close"></i> <span
						th:text="#{form.boton.cancelar}">Cancelar</span>
				</button>

				<button class="btn btn-default" data-toggle="modal"
					th:attr="data-target=${'#'+vc.getEntityName()+'_popupBorrado'}" type="button"
					th:unless="${vc.deleteButtonEnabled==false}">
					<i class="ion ion-trash-a"></i><span
						th:text="#{form.boton.borrar}">Borrar</span>
				</button>

				<button type="submit" th:id="${vc.getEntityName() + '_borrar_btn'}"
					name="operation" value="delete" hidden="true"></button>
			</p>

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</div>

		<div
			th:include="/fragments/popup :: content(id=${vc.getEntityName()+'_popupBorrado'}, title=#{popup.borrado.titulo}, msg=#{popup.borrado.mensaje}, cancelText=#{popup.borrado.cancelar}, acceptText=#{popup.borrado.aceptar}, onclick=${vc.entityName + '_borrar_btn.click()'})">PopUp</div>

		<script th:inline="text">
    
          function borrarRegistro() {
        	  $("#[[${vc.getEntityName() + '_borrar_btn'}]]").trigger('click');
          }
        </script>
	</div>
</body>
</html>
